<h2>Please ask your Coach a question!</h2>

<form action="answer">
  <input type="text" name="ask" >
  <input type="submit" value="Ask!">
</form>

<h1> </h1>
<h1> </h1>
<h3>Possible questions</h3>

<p>i am going to work right now</p>
<p>Anthing ending with   ?   </p>
<p> "just a statement" </p>

